In [25]:
import sqlite3
import pandas as pd

# Create the connection
cnx = sqlite3.connect(rb'attempt_3.db3')

In [26]:
# create the dataframe from a query
df = pd.read_sql_query("SELECT * FROM messages", cnx)

In [27]:
df

,id,topic_id,timestamp,data
0,1,1,1584404505541053105,b'\x00\x01\x00\x00\x19\x18p^\xd8;6\x05\x1b\x00...
1,2,2,1584404505541420930,b'\x00\x01\x00\x00\x19\x18p^\xd8;6\x05\x1b\x00...
2,3,1,1584404505719654800,b'\x00\x01\x00\x00\x19\x18p^\x04[V\x12\x1b\x00...
3,4,2,1584404505719899570,b'\x00\x01\x00\x00\x19\x18p^\x04[V\x12\x1b\x00...
4,5,1,1584404505888758493,"b'\x00\x01\x00\x00\x19\x18p^\xe3,\xb3\x1f\x1b\..."
...,...,...,...,...
1101,1102,2,1584404638581170588,b'\x00\x01\x00\x00\x9e\x18p^\xe0\x8d\x9f\r\x1b...
1102,1103,1,1584404638836459938,b'\x00\x01\x00\x00\x9e\x18p^\x13F\xd8\x19\x1b\...
1103,1104,2,1584404638837472113,b'\x00\x01\x00\x00\x9e\x18p^\x13F\xd8\x19\x1b\...
1104,1105,1,1584404639042434640,b'\x00\x01\x00\x00\x9e\x18p^\xe5\x13h&\x1b\x00...
1105,1106,2,1584404639042672698,b'\x00\x01\x00\x00\x9e\x18p^\xe5\x13h&\x1b\x00...

In [7]:
test = df.data[2]

In [19]:
df.dtypes

NameError: name 'df' is not defined

In [12]:
import datetime
readable = datetime.datetime.fromtimestamp(1584455907).isoformat()
readable

'2020-03-17T10:38:27'

In [28]:
for index in df.itertuples():
    i = index[0]

In [24]:
import sqlite3

def writeTofile(data, filename):
    # Convert binary data to proper format and write it on Hard Disk
    with open(filename, 'wb') as file:
        file.write(data)
    print("Stored blob data into: ", filename, "\n")

def readBlobData(empId):
    try:
        sqliteConnection = sqlite3.connect('attempt_3.db3')
        cursor = sqliteConnection.cursor()
        print("Connected to SQLite")

        sql_fetch_blob_query = """SELECT * from messages where id = ?"""
        cursor.execute(sql_fetch_blob_query, (empId,))
        record = cursor.fetchall()
        for row in record:
            print("Id = ", row[0], "Time = ", row[2])
            name  = row[0]
            time = row[2]
            photo = row[3]
            resumeFile = row[3]

            photoPath = str(name) + ".jpg"
            writeTofile(photo, photoPath)

        cursor.close()

    except sqlite3.Error as error:
        print("Failed to read blob data from sqlite table", error)
    finally:
        if (sqliteConnection):
            sqliteConnection.close()
            print("sqlite connection is closed")

readBlobData(1)
readBlobData(2)

Connected to SQLite
Id =  1 Time =  1584404505541053105
Stored blob data into:  1.jpg

sqlite connection is closed
Connected to SQLite
Id =  2 Time =  1584404505541420930
Stored blob data into:  2.jpg

sqlite connection is closed