In [3]:
import sqlite3
import pandas as pd

# Create the connection
cnx = sqlite3.connect(r'attempt_3.db3')

In [4]:
# create the dataframe from a query
df = pd.read_sql_query("SELECT * FROM messages", cnx)

In [5]:
df

,id,topic_id,timestamp,data
0,1,1,1584404505541053105,b'\x00\x01\x00\x00\x19\x18p^\xd8;6\x05\x1b\x00...
1,2,2,1584404505541420930,b'\x00\x01\x00\x00\x19\x18p^\xd8;6\x05\x1b\x00...
2,3,1,1584404505719654800,b'\x00\x01\x00\x00\x19\x18p^\x04[V\x12\x1b\x00...
3,4,2,1584404505719899570,b'\x00\x01\x00\x00\x19\x18p^\x04[V\x12\x1b\x00...
4,5,1,1584404505888758493,"b'\x00\x01\x00\x00\x19\x18p^\xe3,\xb3\x1f\x1b\..."
...,...,...,...,...
1101,1102,2,1584404638581170588,b'\x00\x01\x00\x00\x9e\x18p^\xe0\x8d\x9f\r\x1b...
1102,1103,1,1584404638836459938,b'\x00\x01\x00\x00\x9e\x18p^\x13F\xd8\x19\x1b\...
1103,1104,2,1584404638837472113,b'\x00\x01\x00\x00\x9e\x18p^\x13F\xd8\x19\x1b\...
1104,1105,1,1584404639042434640,b'\x00\x01\x00\x00\x9e\x18p^\xe5\x13h&\x1b\x00...
1105,1106,2,1584404639042672698,b'\x00\x01\x00\x00\x9e\x18p^\xe5\x13h&\x1b\x00...

In [10]:
df.data[2]

b'\x00\x01\x00\x00\x19\x18p^\x04[V\x12\x1b\x00\x00\x00camera_color_optical_frame\x00\x00\x03\x00\x00\x00\x07\x00\x00\x00person\x00\x00\x8e\xfc\xa7>K\x00\x00\x00\x14\x01\x00\x00\xc3\x00\x00\x00.\x01\x00\x00\x00\x00\x00\x00w\xbe\x1a\xbf\xd1\x9a:=\xb9\x1e%?\xc4\x05\x84=\xf6\x85\xf8>W\x0e\xbd?\x07\x00\x00\x00person\x00\x00\x8e\xfc\xa7>K\x00\x00\x00\x14\x01\x00\x00\xc3\x00\x00\x00.\x01\x00\x00\x00\x00\x00\x00w\xbe\x1a\xbf\xd1\x9a:=\xb9\x1e%?\xc4\x05\x84=\xf6\x85\xf8>W\x0e\xbd?\x07\x00\x00\x00person\x00\xbe\x8e\xfc\xa7>K\x00\x00\x00\x14\x01\x00\x00\xc3\x00\x00\x00.\x01\x00\x00\x00\x00\x00\x00w\xbe\x1a\xbf\xd1\x9a:=\xb9\x1e%?\xc4\x05\x84=\xf6\x85\xf8>W\x0e\xbd?'

In [9]:
df.dtypes

id            int64
topic_id      int64
timestamp     int64
data         object
dtype: object

In [12]:
import datetime
readable = datetime.datetime.fromtimestamp(1584455907).isoformat()
readable

'2020-03-17T10:38:27'

In [28]:
for index in df.itertuples():
    i = index[0]

In [1]:
open('attempt_3.db3')